{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/home/css/bootstrap.css' %}" />
<html>

<head>
    <title>Home page</title>
</head>

<body>
    <h1 style="display: flex; flex-direction: column; align-items: center; padding-top: 7%;" class="display-3">HOME PAGE</h1>
    <div class="buttons" style="display: flex; flex-direction: column;  align-items: center;">
        <div class="first-button">
            <button type="button" style="padding: 0.3rem 3rem 0.3rem; font-size: 25px;"
                class="btn btn-outline-secondary my-2 " onclick="window.location.href='register/'">Add
                vulnerability</button>
        </div>
        <div class="second-button">
            <button type="submit" style="padding: 0.3rem 4.7rem 0.3rem; font-size: 25px;"
                class="btn btn-outline-secondary my-1" onclick="window.location.href='view/'">Top OWASP</button>
        </div>
    </div>
    <footer style="margin-top: auto; position: fixed; left: 0; bottom: 0; width: 100%;">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-2 border-top">
            <div class="col-md-4 d-flex align-items-center text-muted">
                <img class="mr-2 pb-2"src="https://cdn-icons-png.flaticon.com/512/25/25231.png" style="width: 30px;"><p>Veja a <a href="https://github.com/LAzz1/webforms/blob/main/README.md" target="_blank">documentação</a> do projeto e sua <a  target="_blank" href="https://github.com/LAzz1/webforms/tree/main/website">estrutura</a></p>
            </div>
        </div>
    </footer>
</body>

</html>