{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.css' %}" />
<html>

<head>
  <title>view page</title>
  <div class="buttons mt-3 px-3" style="display: flex;">
    <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='/'">Back to home</button>
  </div>
</head>

<body>
  {% load bootstrap_icons %}
  <h1 style="display: flex; flex-direction: column; align-items: center;" class="pb-2 display-4">Top 10 OWASP</h1>
  <table class="table table-striped border-top-0 border-dark rounded"
    style="border-collapse: collapse; width: 80%;margin-left: auto; margin-right: auto; box-shadow: 0px 20px 30px 5px rgba(41, 41, 41, 0.28);">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Year</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for item in dataBase%}
      <tr onMouseOver="this.style.color='#616161'" onMouseOut="this.style.color='#212529'">
        <th>{{ item.code }}</th>
        <th>{{ item.year }}</th>
        <th>{{ item.title }}</th>
        <th>{{ item.description }}</th>
        <th style="cursor:pointer; padding: 10px 0 0 20px;"><a style="color: inherit;" onMouseOver="this.style.color='#4780fc'" onMouseOut="this.style.color='#212529'" href="{% url 'update' item.id%}">{% bs_icon 'pencil' size='1.5em' %}</a></th>
        <th style="cursor:pointer; padding: 10px 0 0 25px;"><a style="color: inherit;" onMouseOver="this.style.color='#fa0202'" onMouseOut="this.style.color='#212529'" href="{% url 'delete' item.id%}">{% bs_icon 'x-octagon' size='1.5em' %}</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script>
  </script>
</body>


</html>